@import "~bootstrap/scss/bootstrap";
@import "./_partials/colors.scss";

/********** RESET **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-bg-color;
    color: $secondary-color;
}

/********** COMMON **********/

.ms-card {
    background-color: $main-bg-color;
    color: $secondary-color;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

a, button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}
